
<h1>Create Employees</h1>

<form asp-controller="Employees" asp-action="Create">
    <div class="my-3">
        <label>Name</label>
        <input type="type" class="form-control" name="Name" value="" />
    </div>
    <div class="my-3">
        <label>Email</label>
        <input type="type" class="form-control" name="Email" value="" />
    </div>
    
    <div class="my-3">
        <label>Password</label>
        <input type="type" class="form-control" name="Password" value="" />
    </div>

    <button type="submit" class="btn btn-outline-primary">Add</button>
</form>

