@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<form asp-controller="Employees" asp-action="Update">
    <div class="my-3">
        <label>Name</label>
        <input type="type" class="form-control" name="Name" value="@Model.Name" />
    </div>
    <div class="my-3">
        <label>Email</label>
        <input type="type" class="form-control" name="Email" value="@Model.Email" />
    </div>

    <div class="my-3">
        <label>Password</label>
        <input type="type" class="form-control" name="Password" value="@Model.Password" />
    </div>

    <button type="submit" class="btn btn-outline-primary">Update</button>
</form>

